body {
    margin: 0;
    background-color: antiquewhite;
}

.mente {
    display: none;
}

.mainbox{
    margin: 1rem;
    margin-bottom: 5rem;
    padding: 2rem;
    background-color: white;
    border-radius: 50px;
}

.backpage{
    padding: 10px;
    border-radius: 25px;
    color: white;
    background-color: rgb(2, 2, 143);
    text-decoration: none;
}

.backpage:hover{
    padding: 10px;
    border-radius: 25px;
    color: black;
    background-color: rgb(255, 0, 0);
    text-decoration: none;
}

a{
      color: blue;
      text-decoration: none;
    }
    a:hover{
      color: red;
      text-decoration: underline;
    }

p{
    font-size: 125%;
    margin: auto;
}

.select{
      cursor: pointer;
    }

    .list{
            display: inline-block;
            margin: auto;
        }